__pycache__/
*.py[cod]

.venv/
venv/

.codex/

build/
dist/
*.spec

logs/app.log
logs/exports/*
!logs/.gitkeep
!logs/exports/.gitkeep

config/app_config.json
config/public_iperf_servers_cache.json
config/oui_cache.json
config/ftp_keys/*
!config/ftp_keys/.gitkeep

iperf3.exe
cygcrypto-3.dll
cygwin1.dll
cygz.dll
